@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&family=Zilla+Slab:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  body {
    margin: 0;
    font-family: "Overpass", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 3.5rem;
  }
}
