@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&family=Zilla+Slab:wght@300;400;500;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  body {
    margin: 0;
    font-family: "Overpass", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }
}
main {
  min-height: 100vh;
  .side_nav {
    min-height: 100vh;
    height: 100%;
  }
}
.app_container {
  @media (min-width: 768px) {
    display: flex;
  }
  .content {
    flex-grow: 1;
    padding: 2rem;
  }
}

#ingredientsResult {
  .results {
    display: flex;
    justify-content: space-between;
  }
}
.ingredientsResult {
  display: flex;
  flex-wrap: wrap;
  span {
    color: #fff;
    background-color: #2007ff;
    padding: 0.25rem 0.5rem;
    font-size: 0.7rem;
    margin: 0.1rem;
    text-transform: capitalize;
  }
  margin-bottom: 0.52rem;
}
.ingredient-container {
  display: flex;
  button {
    margin-left: 0.3rem;
  }
}
.card-title{
  border-bottom: 1.3px solid #dee2e6;
}